*{
  margin: 0; padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #e6e6e6;
  box-sizing: border-box;
  scroll-behavior:smooth;
  font-size: 1.4rem;
}
.App{
  margin: 0 3rem;
}
a{
  text-decoration: none;
  color: black;
}

header{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.logo{
  height: 10vmin;
}

/* CARS */

.cars h1{
  text-align: center;
  color: #ffffff;
  background-color: #337AB7;
  margin: 3rem auto;


}

.carAll{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 10rem;
}

.car{
  background-color: #eeeeee;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .1);
  border-radius: 10px;
  transition: transform .2s;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.car:hover {
  transform: scale(1.05);

}


.car >*{
  margin-bottom: 1.5rem;
}

.carImage{
  height: 28vmin;
  width: 100%;
}

.carName{
  color: #337AB7;
}


/* Page Produit */

.productCar{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin: 6rem 3rem;
}

.productCarHead{
  padding: 2rem;
  text-align: center;
}


.productCarDescription{
  width: 80%;
  margin: 2rem auto;
}

.productCarImg{
  height: 34vmin;
  width: 80%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .1);
}


.productCarDetails{
  list-style: none;
  background-color:  #f5f5f5;
  padding: 2rem;
  border-radius: 10px;
}

.productCarDetails>*{
  margin-bottom: .5rem;
}

.detailName{
  font-weight: 500;
  color: #E95F14;
}

.notFound{
  width: fit-content;
  margin: 6rem auto;
  font-size: 2rem;
  background-color: #f5f5f5;
  padding: 3rem;
  border-radius: 10px;
  color:#337AB7;
}

/* Footer  */

footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #989898;
  padding: .5rem;
  width: 100vw;
  margin: auto;

}

/* Responsive */

@media screen and (max-width: 1050px){
  .carAll{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 6rem;
  }
  .productCarImg,.productCarDescription{
    width: 100%;
  }
}

@media screen and (max-width: 860px){
  .productCar{
    display: block;
    margin: 4rem 1rem;
  }
}

@media screen and (max-width: 680px){
  .App{
    margin: 1.5rem;
  }
  .carAll{
    display: block;
    margin-bottom: 6rem;
  }
  .car{
    margin: 2rem 0;
  }
  
  .carImage{
    height: 45vmin;
  }
  .productCarHead{
    padding: .5rem;
  }
  .productCarDetails{
    padding: 1rem;
  }
  
  }

